ul.mtree {
  opacity: 1;
  margin-left: 0;
  padding: 1.2em;
}
ul.mtree ul {
  margin-left: 1em;
}
ul.mtree li {
  list-style: none;
  border-bottom: 1px solid #fff;
}
ul.mtree a {
  display: block;
}

ul.mtree a {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

ul.mtree.bubba ul {
  margin-left: 0;
}
ul.mtree.bubba ul li {
  font-size: .9em;
}
ul.mtree.bubba li.mtree-node > a:after {
  content: '›';
  margin-left: .5em;
  font-weight: normal;
}
ul.mtree.bubba li.mtree-node > a {
  font-weight: bold;
  text-transform: upperCase;
}
ul.mtree.bubba > li {
  border-bottom: 1px solid #DDD;
}
ul.mtree.bubba > li:last-child {
  border-bottom: none;
}
ul.mtree.bubba li:last-child > a {
  border: none;
}
ul.mtree.bubba > li.mtree-open > a {
  background: #DDD;
}
ul.mtree.bubba li > a:hover {
  background: #DDD;
}
ul.mtree.bubba li.mtree-active > a {
  background: #FFC000;
  color: #FFF;
}
ul.mtree.bubba a {
  padding: 7px 0px 7px 1em;
}
ul.mtree.bubba li li > a {
  padding-left: 2em;
}
ul.mtree.bubba li li li > a {
  padding-left: 3em;
}
ul.mtree.bubba li li li li > a {
  padding-left: 4em;
}
ul.mtree.bubba li li li li li > a {
  padding-left: 5em;
}

ul.mtree.skinny li {
  font-size: .9em;
}
ul.mtree.skinny a {
  padding: 0px 18px;
  color: #555;
}
ul.mtree.skinny a:hover {
  text-decoration: underline;
}
ul.mtree.skinny li.mtree-node:before {
  float: left;
  margin-left: .5em;
  zoom: .8;
  margin-top: .1em;
  color: #777;
}
ul.mtree.skinny ul > li:first-child {
  margin-top: .1em;
}
ul.mtree.skinny ul > li:last-child {
  margin-bottom: .3em;
}
ul.mtree.skinny ul a {
  color: #666;
}

ul.mtree.transit {
  background: #111;
}
ul.mtree.transit ul {
  margin-left: 0;
}
ul.mtree.transit ul > li {
  font-size: .9em;
}
ul.mtree.transit li.mtree-node {
  position: relative;
}
ul.mtree.transit li.mtree-node > a:before {
  color: #fff;
  font-weight: normal;
  position: absolute;
  right: 20px;
}
ul.mtree.transit ul > li:first-child {
  margin-top: 1px;
}
ul.mtree.transit li > a:hover, ul.mtree.transit li.mtree-active > a {
  color: #FFF;
}
ul.mtree.transit li.mtree-node > ul > li:last-child {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #333;
}
ul.mtree.transit li.mtree-node:last-child > ul > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
ul.mtree.transit a {
	padding: 13px 12px;
	color: #fff;
	display: block;
	font-weight: bold;
	font-size: 15px;
	    text-transform: uppercase;
	    margin-right: 15px;
}
/* ul.mtree.transit li li > a {
  padding-left: 1.6em;
} */
ul.mtree.transit li li li > a {
  padding-left: 2.4em;
}
ul.mtree.transit li li li li > a {
  padding-left: 3.2em;
}
ul.mtree.transit li li li li li > a {
  padding-left: 4em;
}

ul.mtree.jet ul {
  margin-left: 0;
}
ul.mtree.jet li {
  margin-bottom: 1px;
}
ul.mtree.jet li:last-child {
  margin-bottom: 0px;
}
ul.mtree.jet li:first-child {
  margin-top: 1px;
}
ul.mtree.jet li.mtree-active a {
  background: #E3E3E3;
}
ul.mtree.jet li.mtree-active li:last-child > a {
  border-radius: 0px 0px 3px 3px;
}
ul.mtree.jet li.mtree-active > a {
  background: #008cba;
  color: #FFF;
  border-radius: 3px 3px 0px 0px;
}
ul.mtree.jet li > a:hover {
  background: #FFC000;
  color: #FFF;
}
ul.mtree.jet a {
  padding: 5px 0px 5px 1em;
}
ul.mtree.jet li li > a {
  padding-left: 2em;
}
ul.mtree.jet li li li > a {
  padding-left: 3em;
}
ul.mtree.jet li li li li > a {
  padding-left: 4em;
}
ul.mtree.jet li li li li li > a {
  padding-left: 5em;
}

ul.mtree.nix {
  background: none;
}
ul.mtree.nix a {
  display: inline;
}
ul.mtree.nix ul {
  margin-left: 1em;
}
ul.mtree.nix ul > li {
  list-style-position: inside;
}
ul.mtree.nix li {
  list-style: disc;
}
ul.mtree li{
	margin:0;
}

/*** changes for sites starts ****/
ul.mtree.transit {
  background: #0084BF;
  z-index: 9999;
  left: 0;
  text-align: left;
  padding: 0;
  top: 49px;
}
ul.mtree.transit ul > li:first-child {
  margin-top: 0px;
}
ul.mtree li {
  border-bottom: 0.05em solid #fff;
}
/* ul.mtree.transit ul > li{
  border-bottom: 0px solid #fff;
} */
ul.mtree.transit ul > li:last-child {
  border-bottom: 0px solid #fff;
}
ul.mtree.transit li.mtree-node > ul > li:last-child {
  border-bottom: 0px solid #333;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
ul.mtree.transit ul{
background:#0072a5;
    width: 100%;
    margin-top: 0px;
    padding:0 18px;
}
ul.mtree.transit li.mtree-closed > a:before {
  right: 10px;
  font-size: 30px;
  top: -4px;
}
ul.mtree.transit li.mtree-open > a:before {
  right: 0.5em;
  font-size: 2em;
  top: -0.1em;
}
/*** changes for sites ends ****/



.mtree-node > a:after{
     content: ' ';
    background: url(../../img/uparrow.svg) no-repeat;
    background-size: 18px;
    background-position: center;
    width: 32px;
    height: 26px;
    display: inline-block;
    top: 10px;
    position: absolute;
    right: 9px;
	-webkit-transition: transform .3s; /* Safari */
    transition: transform .3s;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);

}

.mtree-node.mtree-closed > a:after{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.mobheader .white-button, .mobheader .white-button:hover{
	display: block;
    margin: 0 auto;
    width: 180px;
    text-align: center;
    font-size: 15px;
	border:0.05em solid #fff;

}

ul.mtree.transit li ul a{
	    font-weight: normal;
		text-transform: inherit;
}



/* OCT 9 TS style start here */
.bludemenus img.blogo {
  position: relative;
  left: 1.5em;
}
/*popclose button*/
.mclose {
  position: absolute;
  top: 0.9em;
  right: 0.9em;
}
.mclose img {
  width: 2.6em;
  cursor: pointer;
}

.menuicon {
  width: 2.4em;
  padding: 0.7em 0 1em;
}
/*popclose button end*/



/* OCT 9 TS style end here */
